<div class="mt-8 text-gray-500">
    <%= render 'shared/profile/experience_description', 
        company: experience.company,
        position: experience.position,
        date_start: experience.start,
        date_end:   experience.end,
        description: experience.description
    %>
</div>