<div class="mt-8 text-gray-500">
    <%= render 'shared/profile/project_description', 
        title: project.title,
        project_link: project.url,
        skills: project.stack,
        description: project.description
        
    %>
</div>